<div class="row">
  <div class="col-sm-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Market Segment</th>
          <th>Account Balance</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |order| %>
          <tr>
            <td><%= order['name'] %></td>
            <td><%= order['address'] %></td>
            <td><%= order['market_segment'] %></td>
            <td><%= order['account_balance'] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

